<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="content">
        <h1>Editar Cliente</h1>
        <div class="form">
            <form action="/updated" method="POST">
                <input type="hidden" name="id" value="<%= cliente.id %>">
                <label for="nome_mae">Nome Completo da mãe</label>
                <input type="text" id="nome_mae" placeholder="Nome" class="name" name="nome_mae"value="<%= cliente.nome_mae %>" required>
                <input type="text" placeholder="Sobrenome" class="name" name="sobrenome"value="<%= cliente.sobrenome %>">
                <label for="whatsapp">WhatsApp</label>
                <input type="text" id="whatsapp" placeholder="Whatsapp" name="whatsapp" value="<%= cliente.whatsapp %>" maxlength="11">
                <label for="nome_bebe">Nome do bebê</label>
                <input type="text" id="nome_bebe" placeholder="Nome do bebê" name="nome_bebe"value="<%= cliente.nome_bebe %>" required>
                <label for="data_nasc">Data de nascimento</label>
                <input type="text" id="data_nasc" name="data_nasc" value="<%=moment(cliente.data_nasc).format('DD/MM/YYYY')%>" required maxlength="10">
                <div class="radiobutons">
                    <p>Sexo</p>
                    <div class="rb">
                        <%sexo=cliente.sexo%>
                            <% if(sexo=='M' ) { %>
                                <label><input type="radio" name="sexo" value="M" checked>M</label>
                                <label><input type="radio" name="sexo" value="F">F</label>
                            <% } else { %>
                                <label><input type="radio" name="sexo" value="M">M</label>
                                <label><input type="radio" name="sexo" value="F" checked>F</label>
                        <% } %>
                    </div>
                </div>
                <input type="submit" class="btn-submit" value="Enviar Dados"></input>
                <a href="/" class="btn-cancel">Cancelar</a>
            </form>
        </div>
    </div>
</body>

</html>